/*
File: PrayerOrder Authentication Style Sheet
Author: David Sarkies 
Initial: 28 September 2024
Update: 28 September 2024
Version: 0.0
*/

.left-button {
  margin-left: 15%;
}

.right-button {
  margin-left: 5%;
}

.button-div {
  margin-top: 10px;
  margin-left: 10%;
}

/*
28 September 2024 - Created File
*/