/*
File: PrayerOrder Authentication Style Sheet
Author: David Sarkies 
Initial: 28 September 2024
Update: 28 September 2024
Version: 0.0
*/

h3 {
  text-align: center;
  color: #065c1d;
  margin-bottom: 5px;
  margin-left: 30%;
  margin-right: 40%;
  margin-top:0%;
  padding-top:5%;
}

button {
  margin-top:10 px;
  background-color: #5bba75;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  min-width: 100px;
  min-height: 30px;
}

.left-button {
  margin-left: 15%;
}

.right-button {
  margin-left: 5%;
}

.button-div {
  margin-top: 10px;
  margin-left: 10%;
}

/*
28 September 2024 - Created File
*/