/*
File: PrayerOrder Standard Style Sheet
Author: David Sarkies 
Initial: 18 March 2025
Update: 18 March 2025
Version: 1.0
*/

.group-button {
  min-width: 10px;
  background-color: #d0f5d0;
  border: none;
}

/*
18 March 2025 - Created file
*/