/*
File: PrayerOrder TitleBar Style Sheet
Author: David Sarkies 
Initial: 4 July 2024
Update: 4 July 2024
Version: 0.0
*/

#authenticationFailure {
  margin-left: 15%;
  padding-left: 20%;
  margin-right: 15%;
  padding-top: 25px;
  padding-bottom: 25px;
  border-style: solid;
  border-color: black;
  background-color: #ba554e;
}


/*
 * 4 July 2024 - Created file
 */
