/*
File: PrayerOrder Prayer Page Style Sheet
Author: David Sarkies 
Initial: 21 September 2024
Update: 24 November 2024
Version: 0.6
*/

/*----------------------------------------------------------------------------------
  -
  -                              Prayer Box Styling
  -
  ----------------------------------------------------------------------------------*/

.ask-prayer {
	margin-right: 30%;
}

.prayer-box {
	height: 5em;
	width: 24em;
	margin-left: 15%;
}

.prayer-box-error {
	background-color: #f2c3bf;
	border-color: #f51e0f;
	border-width: 3px;
	border-radius: 5px;
}

.prayer-error-box {
	display: none;
	text-align: center;
	border-style: solid;
	color: #823f38;
	margin: 4% 20%;
	padding: 1% 0%;
}

.submitPrayer {
	display: flex; 
	align-items: flex-end; 
	gap: 10px;
}

.sendButton {
	border:none;
	background-color: #d0f5d0;
	min-width: 50px;
}

/*----------------------------------------------------------------------------------
  -                              Prayer Request display Styling
  ----------------------------------------------------------------------------------*/

.prayer-request-box {
	border-top:solid;
	margin-top: 5%;
	scrollbar-width: none;
	overflow-y: auto;
	max-height: 300px;
}


/*----------------------------------------------------------------------------------
  -
  -                              Prayer Header Styling
  -
  ----------------------------------------------------------------------------------*/

.prayer-header {
	border-bottom: solid;
	border-bottom-width: 1px;
	background-color: light-blue;
}

#options-box {
	visibility: visible;
}

#group-icon {
	padding-left: 10%;
}

#search-icon {
	padding: 0% 5%;
}

.search-icon {
	padding-left: 5%;
}

/*----------------------------------------------------------------------------------
  -                              Search box Styling
  ----------------------------------------------------------------------------------*/

#search-box {
	visibility: hidden;
}

#search-input {
	margin: 3% 5%;
	padding-right: 20%;
}

.search-box {
	padding: 0% 10% 4%;
}

/*----------------------------------------------------------------------------------
  -                              Search results Styling
  ----------------------------------------------------------------------------------*/

.search-results {
	padding-bottom: 2%;
	font-size: 1.17em;
	font-weight: bold;
}

.noRelationship {
	padding-left: 10%;
}

.haveRelationship {
	padding-right:5%;
}

/*#d0f5d0
21 September 2024 - Created File
22 September 2024 - Updated styling for prayer header
13 October 2024 - Added styling for the icons for the search results
27 October 2024 - Added styling for the relationship definition icons
10 November 2024 - Updated noRelationship class
16 November 2024 - Added styling for submitting a prayer and send button
23 November 2024 - Added styling for prayerbox error & sorted styles
24 November 2024 - added styling for prayer display box
*/