/*
File: PrayerOrder Prayer Page Style Sheet
Author: David Sarkies 
Initial: 21 September 2024
Update: 21 September 2024
Version: 0.0
*/

.ask-prayer {
	margin-right: 30%;
}

.prayer-box {
	height: 5em;
	width: 24em;
	margin-left: 15%;
}

.prayer-header {
	border-bottom: solid;
	border-bottom-width: 1px;
	background-color: light-blue;
}

#search-box {
	visibility: hidden;
}

#search-icon {
	padding: 1% 5%;
}

#options-box {
	visibility: visible;
}

#group-icon {
	padding-left: 35%;
}

/*
21 September 2024 - Created File
*/