/*
File: PrayerOrder Standard Style Sheet
Author: David Sarkies 
Initial: 10 November 2023
Update: 11 November 2023
Version: 0.0
*/

.centre {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*
11 November 2023 - Created File
*/