/*
File: PrayerOrder TitleBar Style Sheet
Author: David Sarkies 
Initial: 10 November 2023
Update: 11 November 2023
Version: 0.0
*/

.title-bar {
  position: sticky;
  top:0;
  z-index: 9000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #d0f5d0;
  border-bottom: 2px solid #007bff;
}

.logo {
  max-width: 250px; /* Adjust the size as needed */
  height: auto;
}

/*
 * 10 November 2023 - Created File
 * 11 November 2023 - Added some styling for the title.
 */
